In [213]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib.pyplot import figure
import matplotlib.dates as mdates
import datetime
import seaborn as sns

In [214]:
df_validation = pd.read_csv(r'../../data/tidy/energy_validation_april2022.csv', delimiter=',', skiprows=0, low_memory=False)

In [215]:
df_model = pd.read_csv(r'../../results/computed-fuel-rates.csv', delimiter=',', skiprows=0, low_memory=False)

In [216]:
len(df_validation['equipment_id'].unique())

177

In [217]:
len(df_model['Vehicle'].unique())

178

In [218]:
len(df_validation['date'].unique())

30

In [219]:
len(df_model['Date'].unique())

30

In [220]:
validation_vehicles=df_validation['equipment_id'].unique()

In [221]:
df_model_filtered=df_model.loc[df_model.Vehicle.isin(validation_vehicles)]

In [222]:
df_model['Date']=pd.to_datetime(df_model['Date'])

In [223]:
df_model_filtered

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
2391,2391,1297419,1297419,2391,2022-04-29 14:01:44,2391,1273034,8788,2022-04-29 00:00:00.000,2022,...,POINT (-72.52602 42.14098),0.000000,0.000000,0.000000,0,0.0,electric,2021 NEW FLYER XE35 (ELECTRIC),26900.0,0.000000
2392,2392,1299038,1299038,2392,2022-04-29 14:28:20,2392,1273037,8788,2022-04-29 00:00:00.000,2022,...,POINT (-72.65278 42.19514),8.829565,32.052117,0.005579,0 days 00:26:36,1596.0,electric,2021 NEW FLYER XE35 (ELECTRIC),26900.0,11.280114
2393,2393,1299039,1299039,2393,2022-04-29 14:28:20,2393,1273500,8788,2022-04-29 00:00:00.000,2022,...,POINT (-72.65278 42.19514),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,electric,2021 NEW FLYER XE35 (ELECTRIC),26900.0,0.000000
2394,2394,1299250,1299250,2394,2022-04-29 14:30:55,2394,1273501,8788,2022-04-29 00:00:00.000,2022,...,POINT (-72.64553 42.20302),0.526585,19.682810,0.035274,0 days 00:02:35,155.0,electric,2021 NEW FLYER XE35 (ELECTRIC),26900.0,0.815383
2395,2395,1299272,1299272,2395,2022-04-29 14:31:09,2395,1273502,8788,2022-04-29 00:00:00.000,2022,...,POINT (-72.64369 42.20166),0.130185,53.874613,0.678410,0 days 00:00:14,14.0,electric,2021 NEW FLYER XE35 (ELECTRIC),26900.0,1.344536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361544,1361544,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,26900.0,0.277932
1361545,1361545,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,26900.0,0.202286
1361546,1361546,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,26900.0,0.006063
1361547,1361547,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,26900.0,0.285750
1361548,1361548,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,26900.0,1.487070

In [225]:
df_model_filtered = df_model_filtered.groupby(['Vehicle', 'Date']).agg({'Energy': ['sum'] ,'Powertrain': ['max'], 'dist': ['sum']}).reset_index()

In [226]:
df_model_filtered

     Vehicle        Date      Energy    Powertrain        dist
                                 sum           max         sum
0       1320  2022-04-29   65.570609      electric   38.462541
1       1321  2022-04-01   16.353350      electric    9.615819
2       1321  2022-04-04   27.400270      electric   11.612397
3       1321  2022-04-05   50.482473      electric   25.229515
4       1321  2022-04-06    1.696645      electric    7.551147
...      ...         ...         ...           ...         ...
3046    7902  2022-04-26   76.394012  conventional   52.211481
3047    7902  2022-04-27  123.215978  conventional   86.274257
3048    7902  2022-04-28  119.905961  conventional   70.515202
3049    7902  2022-04-29  152.935529  conventional   87.448258
3050    7902  2022-04-30  244.434850  conventional  156.909658

[3051 rows x 5 columns]

In [227]:
df_model_filtered['Energy']

             sum
0      65.570609
1      16.353350
2      27.400270
3      50.482473
4       1.696645
...          ...
3046   76.394012
3047  123.215978
3048  119.905961
3049  152.935529
3050  244.434850

[3051 rows x 1 columns]

In [228]:
model_vehicles=df_model['Vehicle'].unique()

In [229]:
df_validation_filtered=df_validation.loc[df_validation.equipment_id.isin(model_vehicles)]

In [230]:
len(df_validation_filtered.equipment_id.unique())

173

In [231]:
df_validation_filtered

      Unnamed: 0            timestamp  equipment_id  gallons        date
1          58933  2022-04-01 00:11:00          3303     16.0  2022-04-01
2          58934  2022-04-01 00:19:00          3322     31.7  2022-04-01
3          58935  2022-04-01 00:28:00          3312     35.2  2022-04-01
4          58936  2022-04-01 00:33:00          3307     33.4  2022-04-01
5          58937  2022-04-01 00:52:00          3402     38.3  2022-04-01
...          ...                  ...           ...      ...         ...
2997        4682  2022-04-26 19:12:00          7816     51.6  2022-04-26
2998        4683  2022-04-27 20:39:00          7816     19.3  2022-04-27
2999        4684  2022-04-28 14:02:00          7816     14.0  2022-04-28
3000        4685  2022-04-29 19:10:00          7816     18.4  2022-04-29
3001        4686  2022-04-30 13:02:00          7816     19.9  2022-04-30

[2984 rows x 5 columns]

In [232]:
df_validation_filtered = df_validation_filtered.groupby(['equipment_id', 'date']).agg({'gallons': ['sum']}).reset_index()

In [233]:
df_validation_filtered

     equipment_id        date gallons
                                  sum
0            1320  2022-04-27    0.68
1            1320  2022-04-29    0.69
2            1321  2022-04-18    1.83
3            1321  2022-04-19    0.58
4            1321  2022-04-29    0.66
...           ...         ...     ...
2759         7902  2022-04-25   59.70
2760         7902  2022-04-26   12.20
2761         7902  2022-04-27   23.80
2762         7902  2022-04-29   19.00
2763         7902  2022-04-30   26.10

[2764 rows x 3 columns]

In [234]:
df_validation_filtered.rename(
    columns={"equipment_id":"Vehicle",
                "date":"Date",
                "gallons":"Real_Energy"}
          ,inplace=True)

In [235]:
cols = ['Vehicle', 'Date']
df_integrated=df_model_filtered.join(df_validation_filtered.set_index(cols), on=cols)

In [236]:
df_integrated

     Vehicle        Date      Energy    Powertrain        dist Real_Energy
                                 sum           max         sum         sum
0       1320  2022-04-29   65.570609      electric   38.462541        0.69
1       1321  2022-04-01   16.353350      electric    9.615819         NaN
2       1321  2022-04-04   27.400270      electric   11.612397         NaN
3       1321  2022-04-05   50.482473      electric   25.229515         NaN
4       1321  2022-04-06    1.696645      electric    7.551147         NaN
...      ...         ...         ...           ...         ...         ...
3046    7902  2022-04-26   76.394012  conventional   52.211481       12.20
3047    7902  2022-04-27  123.215978  conventional   86.274257       23.80
3048    7902  2022-04-28  119.905961  conventional   70.515202         NaN
3049    7902  2022-04-29  152.935529  conventional   87.448258       19.00
3050    7902  2022-04-30  244.434850  conventional  156.909658       26.10

[3051 rows x 6 columns]

In [237]:
df_integrated.columns

MultiIndex([(    'Vehicle',    ''),
            (       'Date',    ''),
            (     'Energy', 'sum'),
            ( 'Powertrain', 'max'),
            (       'dist', 'sum'),
            ('Real_Energy', 'sum')],
           )

In [238]:
df_integrated.columns = df_integrated.columns.droplevel()

In [240]:
df_integrated.columns =['Vehicle', 'Date', 'Energy', 'Powertrain', 'Distance', 'Real_Energy']

In [241]:
df_integrated

      Vehicle        Date      Energy    Powertrain    Distance  Real_Energy
0        1320  2022-04-29   65.570609      electric   38.462541         0.69
1        1321  2022-04-01   16.353350      electric    9.615819          NaN
2        1321  2022-04-04   27.400270      electric   11.612397          NaN
3        1321  2022-04-05   50.482473      electric   25.229515          NaN
4        1321  2022-04-06    1.696645      electric    7.551147          NaN
...       ...         ...         ...           ...         ...          ...
3046     7902  2022-04-26   76.394012  conventional   52.211481        12.20
3047     7902  2022-04-27  123.215978  conventional   86.274257        23.80
3048     7902  2022-04-28  119.905961  conventional   70.515202          NaN
3049     7902  2022-04-29  152.935529  conventional   87.448258        19.00
3050     7902  2022-04-30  244.434850  conventional  156.909658        26.10

[3051 rows x 6 columns]

In [242]:
df_integrated.columns.nlevels

1

In [244]:
df_integrated['Real_Energy'].isna().sum()

493

In [246]:
df_integrated['Fuel/energy_economy']=df_integrated['Distance']/df_integrated['Energy']

In [248]:
df_integrated['Real_Fuel/energy_economy']=df_integrated['Distance']/df_integrated['Real_Energy']

In [249]:
df_integrated=df_integrated.dropna()

In [250]:
df_hybrid=df_integrated.loc[df_integrated['Powertrain'] == 'hybrid'].copy()
df_conventional=df_integrated.loc[df_integrated['Powertrain'] == 'conventional'].copy()

In [251]:
df_integrated.to_csv(r'../../results/model_plus_validation_results.csv')

In [253]:
from sklearn.metrics import mean_squared_error

rmse_conventional = mean_squared_error(df_conventional['Real_Fuel/energy_economy'], df_conventional['Fuel/energy_economy'], squared=False)
rmse_hybrid = mean_squared_error(df_hybrid['Real_Fuel/energy_economy'], df_hybrid['Fuel/energy_economy'], squared=False)

In [254]:
rmse_conventional

4.065536370867964

In [255]:
rmse_hybrid

3.3007813426527854