In [17]:
import pandas as pd

In [18]:
df_final = pd.read_csv(r'../../results/computed-fuel-rates.csv', delimiter=',', skiprows=0, low_memory=False)

In [19]:
df_final.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0', 'ServiceDateTime',
       'Unnamed: 0.1', 'Unnamed: 0.1.1', 'DateKey', 'CalendarDate', 'Year',
       'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2', 'Route', 'RouteName',
       'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName', 'Lat', 'Lon',
       'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap', 'Boards', 'Alights',
       'Onboard', 'Bike', 'Wheelchair', 'Weekday', 'Hour', 'Minute', 'Second',
       'Date', 'Daytype', 'time', 'geometry', 'dist', 'Speed', 'Acceleration',
       'time_delta', 'time_delta_in_seconds', 'Powertrain', 'VehicleModel',
       'Vehicle_mass', 'FuelRate/Energy'],
      dtype='object')

In [20]:
df_final.Vehicle_mass

0          26900.0
1          26900.0
2          26900.0
3          26900.0
4          26900.0
            ...
1127243        0.0
1127244        0.0
1127245        0.0
1127246        0.0
1127247        0.0
Name: Vehicle_mass, Length: 1127248, dtype: float64

In [26]:
zeros = df_final[df_final['FuelRate/Energy'] == 0]
zeros

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate/Energy
0,1297419,1297419,2391,2022-04-29 14:01:44,2391,1273034,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.52602 42.14098),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
134,30550,30550,2525,2022-04-01 14:28:33,2525,5242,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.54953 42.13081),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
169,138886,138886,2561,2022-04-04 14:27:01,2561,152901,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.54912 42.11688),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
211,164857,164857,2602,2022-04-05 06:23:45,2602,168518,8764,2022-04-05 00:00:00.000,2022,4,...,POINT (-72.60974 42.12317),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
329,241671,241671,2720,2022-04-06 13:15:54,2720,259070,8765,2022-04-06 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127243,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,0.0,0
1127244,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,0.0,0
1127245,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,0.0,0
1127246,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,0.0,0
1127247,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,0.0,0

In [28]:
df_final.sort_values(by=['Vehicle','ServiceDateTime'], ascending=True, inplace=True)

In [31]:
df_final

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate/Energy
0,1297419,1297419,2391,2022-04-29 14:01:44,2391,1273034,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.52602 42.14098),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
1,1299038,1299038,2392,2022-04-29 14:28:20,2392,1273037,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.65278 42.19514),8.829565,32.052117,0.005579,0 days 00:26:36,1596.0,electric,New Flyer 35 electric,26900.0,10.919433141596903
2,1299039,1299039,2393,2022-04-29 14:28:20,2393,1273500,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.65278 42.19514),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,electric,New Flyer 35 electric,26900.0,0.0
3,1299250,1299250,2394,2022-04-29 14:30:55,2394,1273501,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64553 42.20302),0.526585,19.682810,0.035274,0 days 00:02:35,155.0,electric,New Flyer 35 electric,26900.0,0.8072716996929717
4,1299272,1299272,2395,2022-04-29 14:31:09,2395,1273502,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64369 42.20166),0.130185,53.874613,0.678410,0 days 00:00:14,14.0,electric,New Flyer 35 electric,26900.0,1.329511316146411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127243,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,0.0,0
1127244,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,0.0,0
1127245,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,0.0,0
1127246,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,0.0,0
1127247,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,0.0,0

In [32]:
for i in df_final.index:
    if i==0:
        df_final.at[i , 'FuelRate/Energy'] = 0
    elif df_final['Vehicle_mass'].loc[i]==0:
        df_final.at[i , 'FuelRate/Energy'] = 0
    else:
        if df_final['Vehicle'].loc[i]==df_final['Vehicle'].loc[i-1]:
            if df_final['Date'].loc[i]!=df_final['Date'].loc[i-1]:
                df_final.at[i , 'FuelRate/Energy'] = 0
        else:
            df_final.at[i , 'FuelRate/Energy'] = 0

In [33]:
df_final

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate/Energy
0,1297419,1297419,2391,2022-04-29 14:01:44,2391,1273034,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.52602 42.14098),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
1,1299038,1299038,2392,2022-04-29 14:28:20,2392,1273037,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.65278 42.19514),8.829565,32.052117,0.005579,0 days 00:26:36,1596.0,electric,New Flyer 35 electric,26900.0,10.919433141596903
2,1299039,1299039,2393,2022-04-29 14:28:20,2393,1273500,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.65278 42.19514),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,electric,New Flyer 35 electric,26900.0,0.0
3,1299250,1299250,2394,2022-04-29 14:30:55,2394,1273501,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64553 42.20302),0.526585,19.682810,0.035274,0 days 00:02:35,155.0,electric,New Flyer 35 electric,26900.0,0.8072716996929717
4,1299272,1299272,2395,2022-04-29 14:31:09,2395,1273502,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64369 42.20166),0.130185,53.874613,0.678410,0 days 00:00:14,14.0,electric,New Flyer 35 electric,26900.0,1.329511316146411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127243,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,0.0,0
1127244,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,0.0,0
1127245,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,0.0,0
1127246,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,0.0,0
1127247,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,0.0,0

In [34]:
zeros = df_final[df_final['FuelRate/Energy'] == 0]
zeros

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate/Energy
0,1297419,1297419,2391,2022-04-29 14:01:44,2391,1273034,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.52602 42.14098),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
134,30550,30550,2525,2022-04-01 14:28:33,2525,5242,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.54953 42.13081),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
169,138886,138886,2561,2022-04-04 14:27:01,2561,152901,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.54912 42.11688),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
211,164857,164857,2602,2022-04-05 06:23:45,2602,168518,8764,2022-04-05 00:00:00.000,2022,4,...,POINT (-72.60974 42.12317),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
329,241671,241671,2720,2022-04-06 13:15:54,2720,259070,8765,2022-04-06 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.000000,0.000000,0.000000,0,0.0,electric,New Flyer 35 electric,26900.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127243,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,0.0,0
1127244,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,0.0,0
1127245,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,0.0,0
1127246,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,0.0,0
1127247,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,0.0,0

In [35]:
nonzeros = df_final[df_final['FuelRate/Energy'] != 0]
nonzeros

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate/Energy
1,1299038,1299038,2392,2022-04-29 14:28:20,2392,1273037,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.65278 42.19514),8.829565,32.052117,0.005579,0 days 00:26:36,1596.0,electric,New Flyer 35 electric,26900.0,10.919433141596903
2,1299039,1299039,2393,2022-04-29 14:28:20,2393,1273500,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.65278 42.19514),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,electric,New Flyer 35 electric,26900.0,0.0
3,1299250,1299250,2394,2022-04-29 14:30:55,2394,1273501,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64553 42.20302),0.526585,19.682810,0.035274,0 days 00:02:35,155.0,electric,New Flyer 35 electric,26900.0,0.8072716996929717
4,1299272,1299272,2395,2022-04-29 14:31:09,2395,1273502,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64369 42.20166),0.130185,53.874613,0.678410,0 days 00:00:14,14.0,electric,New Flyer 35 electric,26900.0,1.329511316146411
5,1299287,1299287,2396,2022-04-29 14:31:19,2396,1273503,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.64275 42.20125),0.065495,37.945525,-0.442476,0 days 00:00:10,10.0,electric,New Flyer 35 electric,26900.0,1514 -0.000000\n2340 -0.000000\n2341...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122239,1361513,1361513,1356540,2022-04-30 23:51:49,1356540,1325537,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.62426 42.32893),0.203997,36.933839,0.022658,0 days 00:00:32,32.0,hybrid,New Flyer 60 hybrid,42250.0,0.0034447648409743803
1122240,1361518,1361518,1356541,2022-04-30 23:53:04,1356541,1325538,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.62715 42.3217),0.249247,19.253895,-0.065481,0 days 00:01:15,75.0,hybrid,New Flyer 60 hybrid,42250.0,0.0010384432269071669
1122241,1361522,1361522,1356542,2022-04-30 23:53:49,1356542,1325539,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63025 42.31933),0.219698,28.285565,0.055751,0 days 00:00:45,45.0,hybrid,New Flyer 60 hybrid,42250.0,0.003329092101513125
1122242,1361529,1361529,1356543,2022-04-30 23:55:10,1356543,1325540,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63323 42.31785),0.208149,14.888101,-0.045945,0 days 00:01:21,81.0,hybrid,New Flyer 60 hybrid,42250.0,0.001149596988567029
1122243,1361537,1361537,1356544,2022-04-30 23:56:29,1356544,1325541,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63747 42.31973),0.295510,21.671826,0.023853,0 days 00:01:19,79.0,hybrid,New Flyer 60 hybrid,42250.0,0.0022566050197087564

In [36]:
df_final.to_csv(r'../../results/computed-fuel-rates.csv')

In [37]:
df_final['FuelRate/Energy']

0                           0
1          10.919433141596903
2                         0.0
3          0.8072716996929717
4           1.329511316146411
                  ...
1127243                     0
1127244                     0
1127245                     0
1127246                     0
1127247                     0
Name: FuelRate/Energy, Length: 1127248, dtype: object