In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
### Map powertrain

In [3]:
df = pd.read_csv(r'../../results/computed-trajectories.csv', delimiter=',', skiprows=0, low_memory=False)
df2 = pd.read_csv(r'../../data/tidy/vehicles summary.csv', delimiter=',', skiprows=0, low_memory=False)

In [4]:
df2.columns

Index(['Operator', 'Model', 'Type', 'Year', 'Equipment ID',
       'Fuel Orfluid Type'],
      dtype='object')

In [5]:
len(df['Vehicle'].unique())

178

In [6]:
df.columns

Index(['Unnamed: 0.1', 'ServiceDateTime', 'Unnamed: 0', 'DateKey',
       'CalendarDate', 'Year', 'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2',
       'Route', 'RouteName', 'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName',
       'Lat', 'Lon', 'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap',
       'Boards', 'Alights', 'Onboard', 'Bike', 'Wheelchair', 'Weekday', 'Hour',
       'Minute', 'Second', 'Date', 'Daytype', 'time', 'time_delta',
       'time_delta_in_seconds', 'dist', 'speed', 'acc'],
      dtype='object')

In [7]:
df['VehicleType'].unique()

array([nan, '2021 New Flyer', '2016 Proterra', '2020 Proterra',
       '2008 GILLIG LowFloor', '2010 GILLIG LowFloor',
       '2010 Gillig LowFloor', '2006 GILLIG LowFloor',
       '2008 GIllig LowFloor', '2008 Gillig LF', '2018 Gillig lowfloor',
       '2018 Gillig Lowfloor', '2018 Gillig Low Floor', '2011 New Flyer',
       '2015 New Flyer 35ft', 'New Flyer 2020', '2020 New Flyer', '2021',
       '2021 bus', '2022 New Flyer', '2011 NewFlyer', '2012 New Flyer',
       '2014 New Flyer', '2015 New Flyer', '2007 Gillig LowFloor',
       '2008 Gillig LowFloor', '2009 Gillig LowFloor',
       '2011 New Flyer 40ft', '2011 New Flyer 35ft',
       'Articulated Bus V9000', 'Electric New Flyer', 'D4 RADIO   5574',
       '7550', '7551', '7552', '7610', '7660', '7661', '7662',
       '2011 New Flyer - 7801', '2011 New Flyer - 7802',
       '2011 New Flyer - 7811', '2011 New Flyer - 7812',
       '2011 New Flyer - 7813', '2011 New Flyer - 7814',
       '2011 New Flyer - 7815', 'Articulated Buses - V9000'], dtype=object)

In [8]:
electric=df[df['VehicleType']=='Electric New Flyer']
electric['Vehicle'].unique()

array([3501], dtype=int64)

In [9]:
mydict = df2.groupby('Type')['Equipment ID'].agg(list).to_dict()
print (mydict)

{'conventional': [1406, 1510, 1513, 1515, 1618, 1619, 1621, 1630, 1632, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1701, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1821, 1822, 1823, 1824, 1825, 1826, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1710, 1711, 1712, 1713, 1714, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1670, 1671, 1672, 1673, 1715, 1716, 1717, 1718, 1719, 1720, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1721, 1722, 1723, 1857, 1858, 1859, 1860, 1861, 1724, 1725, 1726, 1727, 1728, 1729, 1862, 1863, 1864, 3211, 3307, 3308, 7610, 7550, 7551, 7660, 7661, 7662, 7552, 7801, 7802, 7811, 7812, 7813, 7814, 7815, 7902, 7553, 7554, 7816, 7817], 'electric': [1413, 1414, 1415, 1416, 1320, 1321, 1322, 1323, 1420, 1421, 7700, 3501], 'hybrid': [1801, 1802, 1803, 1804, 1805, 7901]}

In [10]:
d = {val:key for key, lst in mydict.items() for val in lst}
df['Powertrain'] = df['Vehicle'].map(d)

In [11]:
df['Powertrain'].unique()

array([nan, 'electric', 'conventional', 'hybrid'], dtype=object)

In [12]:
df['Powertrain']

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
               ...
1361544    conventional
1361545    conventional
1361546    conventional
1361547    conventional
1361548    conventional
Name: Powertrain, Length: 1361549, dtype: object

In [13]:
len(df['Vehicle'].unique())

178

In [14]:
df['Powertrain'] = df['Powertrain'].fillna('conventional')

In [15]:
unknown_vehicles=df.loc[df['Powertrain'] == 0 , 'VehicleType']
unknown_vehicle_list=unknown_vehicles.unique()
unknown_vehicle_list

array([], dtype=object)

In [16]:
#df.to_csv(r'../../results/trajectories-mapped-powertrain.csv')

In [17]:
### Map models

In [18]:
df2

,Operator,Model,Type,Year,Equipment ID,Fuel Orfluid Type
0,CTF (Cottage Street),2006 GILLIG 30`,conventional,2006.0,1406,DIE
1,CTF (Cottage Street),2006 GILLIG 35`,conventional,2006.0,1510,DIE
2,CTF (Cottage Street),2006 GILLIG 35`,conventional,2006.0,1513,DIE
3,CTF (Cottage Street),2006 GILLIG 35`,conventional,2006.0,1515,DIE
4,CTF (Cottage Street),2006 GILLIG 40`,conventional,2006.0,1618,DIE
...,...,...,...,...,...,...
168,NTF (VATCo),NaN,conventional,NaN,7554,NaN
169,NTF (VATCo),2021 NEW FLYER XD40,conventional,2021.0,7816,NaN
170,NTF (VATCo),2021 NEW FLYER XE40 (ELECTRIC),electric,2021.0,7700,NaN
171,NTF (VATCo),2022 NEW FLYER XD40,conventional,2022.0,7817,NaN
172,UMTS,2021 NEW FLYER XE40 (ELECTRIC),electric,2021.0,3501,NaN

In [19]:
df2['Model'].unique()

array(['2006 GILLIG 30`', '2006 GILLIG 35`', '2006 GILLIG 40`',
       '2007 GILLIG 40`', '2008 GILLIG 35`', '2008 GILLIG 40`',
       '2010 GILLIG 35`', '2010 GILLIG 40`', '2011 NEW FLYER XD35',
       '2011 NEW FLYER XD40', '2011 NEW FLYER XD40 (HYBRID)',
       '2012 NEW FLYER XD40', '2014 NEW FLYER XD40',
       '2015 NEW FLYER XD35', '2015 NEW FLYER XD40', '2018 GILLIG 40`',
       '2020 NEW FLYER XD35', '2020 NEW FLYER XD40',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)', '2021 NEW FLYER XD35',
       '2021 NEW FLYER XD40', '2021 NEW FLYER XE35 (ELECTRIC)',
       '2021 NEW FLYER XE40 (ELECTRIC)', '2022 NEW FLYER XD35',
       '2022 NEW FLYER XD40', 'UMTS GILLIG', 'UMTS NEW FLYER',
       '2009 GILLIG 40`', nan, '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'],
      dtype=object)

In [20]:
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 30`', 'Gillig 30 conventional')
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2007 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2008 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2008 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2010 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2010 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40 (HYBRID)', 'New Flyer 40 hybrid')
df2.Model=df2.Model.astype(str).str.replace('2012 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2014 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2015 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2015 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2018 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
df2.Model=df2.Model.astype(str).str.replace('2022 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2022 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('UMTS GILLIG', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('UMTS NEW FLYER', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2009 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df2.Model=df2.Model.astype(str).str.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')
#df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_20784\291724791.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40 (HYBRID)', 'New Flyer 40 hybrid')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_20784\291724791.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_20784\291724791.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_20784\291724791.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_20784\291724791.py:29: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_20784\291724791.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')

In [21]:
df2.Model.unique()

array(['Gillig 30 conventional', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional', 'New Flyer 40 conventional (HYBRID)',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)',
       '2021 NEW FLYER XE35 (ELECTRIC)', '2021 NEW FLYER XE40 (ELECTRIC)',
       'nan', '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'], dtype=object)

In [22]:
mydict = df2.groupby('Model')['Equipment ID'].agg(list).to_dict()
print (mydict)

{'2013 NEW FLYER XDE60 (ARTIC) (HYBRID)': [7901], '2020 PROTERRA CATALYST BE-40 (ELECTRIC)': [1413, 1414, 1415, 1416], '2021 NEW FLYER XE35 (ELECTRIC)': [1320, 1321, 1322, 1323], '2021 NEW FLYER XE40 (ELECTRIC)': [1420, 1421, 7700, 3501], 'Gillig 30 conventional': [1406], 'Gillig 35 conventional': [1510, 1513, 1515, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 3211, 7550, 7551, 7552], 'Gillig 40 conventional': [1618, 1619, 1621, 1630, 1632, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1670, 1671, 1672, 1673, 7610, 7660], 'New Flyer 35 conventional': [1701, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 3307, 3308, 7553], 'New Flyer 40 conventional': [1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1821, 1822, 1823, 1824, 1825, 1826, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 7801, 7811, 7816, 7817], 'New Flyer 40 conventional (HYBRID)': [1801, 1802, 1803, 1804, 1805], 'nan': [7661, 7662, 7802, 7812, 7813, 7814, 7815, 7902, 7554]}

In [23]:
d = {val:key for key, lst in mydict.items() for val in lst}
df['VehicleModel'] = df['Vehicle'].map(d)

In [24]:
df['VehicleModel'].unique()

array([nan, '2021 NEW FLYER XE35 (ELECTRIC)',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)',
       '2021 NEW FLYER XE40 (ELECTRIC)', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'], dtype=object)

In [25]:
df.VehicleModel=df.VehicleModel.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')
df.VehicleModel=df.VehicleModel.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
df.VehicleModel=df.VehicleModel.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df.VehicleModel=df.VehicleModel.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
df.VehicleModel=df.VehicleModel.replace('New Flyer conventional (HYBRID)', 'New Flyer 60 hybrid')

In [26]:
df['VehicleModel'].unique()

array([nan, 'New Flyer 35 electric', 'Proterra 40 electric',
       'New Flyer 40 electric', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', 'New Flyer 60 hybrid'], dtype=object)

In [27]:
# weights for different models
thisdict = {
  42250: ["New Flyer 60 hybrid"],
  26440: ["Gillig conventional"],
  26900: ["New Flyer conventional"],
  26900: ["New Flyer 40 conventional"],
  27180: ["Gillig 40 conventional"],
  26000: ["New Flyer 35 conventional"],
  27370: ["Proterra 40 electric"],
  32770: ["New Flyer 40 electric"],
  26900: ["New Flyer 35 electric"],
  42250: ['2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'],
  26440: ['Gillig 35 conventional'],
  27370: ['2020 PROTERRA CATALYST BE-40 (ELECTRIC)'],
  28250: ['New Flyer 40 conventional (HYBRID)'],
  32770: ['2021 NEW FLYER XE40 (ELECTRIC)'],
  26900: ['2021 NEW FLYER XE35 (ELECTRIC)']  ,
}

In [28]:
# weights for different models
thisdict = {
  "New Flyer 60 hybrid":42250,
  "Gillig conventional": 26440,
  "New Flyer conventional": 27180 ,
  "New Flyer 40 conventional": 26000 ,
  "Gillig 40 conventional": 27180 ,
  "New Flyer 35 conventional": 26900 ,
  "Proterra 40 electric": 27370 ,
  "New Flyer 40 electric": 32770 ,
  "New Flyer 35 electric": 26900 ,
  "2013 NEW FLYER XDE60 (ARTIC) (HYBRID)": 42250,
  'Gillig 35 conventional': 26440,
  '2020 PROTERRA CATALYST BE-40 (ELECTRIC)': 27370,
  'New Flyer 40 conventional (HYBRID)': 28250,
  '2021 NEW FLYER XE40 (ELECTRIC)': 32770,
  '2021 NEW FLYER XE35 (ELECTRIC)': 26900, 
    

}

In [29]:
#d = {val:key for key, lst in thisdict.items() for val in lst}
df['VehiclWeight(lb)'] = df['VehicleModel'].map(thisdict)

In [30]:
df['VehiclWeight(lb)'].unique()

array([   nan, 26900., 27370., 32770., 26440., 27180., 28250., 26000.,
       42250.])

In [31]:
df['VehiclWeight(lb)'] = df['VehiclWeight(lb)'].fillna('26900')

In [32]:
df['VehiclWeight(lb)'].unique()

array(['26900', 26900.0, 27370.0, 32770.0, 26440.0, 27180.0, 28250.0,
       26000.0, 42250.0], dtype=object)

In [33]:
len(df['Vehicle'].unique())

178

In [34]:
df.to_csv(r'../../results/trajectories-mapped-powertrain-weight.csv')

In [35]:
df = pd.read_csv(r'../../results/trajectories-mapped-powertrain-weight.csv', delimiter=',', skiprows=0, low_memory=False)

In [36]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,ServiceDateTime,Unnamed: 0,DateKey,CalendarDate,Year,Month,OpKey,Operator,...,Daytype,time,time_delta,time_delta_in_seconds,dist,speed,acc,Powertrain,VehicleModel,VehiclWeight(lb)
0,0,0,2022-04-04 06:43:24,112564,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,...,Weekday,06:43:24,NaN,NaN,0.000000,0.000000,0.000000,conventional,NaN,26900.0
1,1,1,2022-04-04 06:51:27,109326,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,...,Weekday,06:51:27,2022-07-28 00:08:03,483.0,0.627342,0.000000,0.000000,conventional,NaN,26900.0
2,2,2,2022-04-04 06:51:27,112565,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,...,Weekday,06:51:27,2022-07-28 00:00:00,0.0,0.000000,0.000000,0.000000,conventional,NaN,26900.0
3,3,3,2022-04-04 06:52:52,109327,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,...,Weekday,06:52:52,2022-07-28 00:01:25,85.0,0.313431,13.274729,0.069816,conventional,NaN,26900.0
4,4,4,2022-04-04 06:54:33,109328,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,...,Weekday,06:54:33,2022-07-28 00:01:41,101.0,0.421734,15.032101,0.007778,conventional,NaN,26900.0

In [37]:
df.count()

Unnamed: 0.2             1361549
Unnamed: 0.1             1361549
ServiceDateTime          1361549
Unnamed: 0               1361549
DateKey                  1361549
CalendarDate             1361549
Year                     1361549
Month                    1361549
OpKey                    1361549
Operator                 1361549
RtKey                    1361549
RtKey2                   1361549
Route                    1361549
RouteName                1352172
TripKey                  1361549
Trip                     1361549
StopKey                  1361549
Stop                     1361549
StopName                 1361549
Lat                      1357366
Lon                      1357366
Vehicle                  1361549
VehicleType              1334766
SeatedCap                1348537
TotalCap                 1348537
Boards                   1361549
Alights                  1361549
Onboard                  1361549
Bike                     1361549
Wheelchair               1361549
Weekday                  1361549
Hour                     1361549
Minute                   1361549
Second                   1361549
Date                     1361549
Daytype                  1361549
time                     1361549
time_delta               1358460
time_delta_in_seconds    1358460
dist                     1353490
speed                    1353493
acc                      1361549
Powertrain               1361549
VehicleModel             1083978
VehiclWeight(lb)         1361549
dtype: int64

In [38]:
len(df['Vehicle'].unique())

178

In [39]:
df['VehicleType'].unique()

array([nan, '2021 New Flyer', '2016 Proterra', '2020 Proterra',
       '2008 GILLIG LowFloor', '2010 GILLIG LowFloor',
       '2010 Gillig LowFloor', '2006 GILLIG LowFloor',
       '2008 GIllig LowFloor', '2008 Gillig LF', '2018 Gillig lowfloor',
       '2018 Gillig Lowfloor', '2018 Gillig Low Floor', '2011 New Flyer',
       '2015 New Flyer 35ft', 'New Flyer 2020', '2020 New Flyer', '2021',
       '2021 bus', '2022 New Flyer', '2011 NewFlyer', '2012 New Flyer',
       '2014 New Flyer', '2015 New Flyer', '2007 Gillig LowFloor',
       '2008 Gillig LowFloor', '2009 Gillig LowFloor',
       '2011 New Flyer 40ft', '2011 New Flyer 35ft',
       'Articulated Bus V9000', 'Electric New Flyer', 'D4 RADIO   5574',
       '7550', '7551', '7552', '7610', '7660', '7661', '7662',
       '2011 New Flyer - 7801', '2011 New Flyer - 7802',
       '2011 New Flyer - 7811', '2011 New Flyer - 7812',
       '2011 New Flyer - 7813', '2011 New Flyer - 7814',
       '2011 New Flyer - 7815', 'Articulated Buses - V9000'], dtype=object)