In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
### Map powertrain

In [42]:
df = pd.read_csv(r'../../results/computed-trajectories-v02.csv', delimiter=',', skiprows=0, low_memory=False)
df2 = pd.read_csv(r'../../data/tidy/vehicles summary.csv', delimiter=',', skiprows=0, low_memory=False)

In [43]:
df2.columns

Index(['Operator', 'Model', 'Type', 'Year', 'Equipment ID',
       'Fuel Orfluid Type'],
      dtype='object')

In [44]:
df.columns

Index(['Unnamed: 0', 'ServiceDateTime', 'Unnamed: 0.1', 'Unnamed: 0.1.1',
       'DateKey', 'CalendarDate', 'Year', 'Month', 'OpKey', 'Operator',
       'RtKey', 'RtKey2', 'Route', 'RouteName', 'TripKey', 'Trip', 'StopKey',
       'Stop', 'StopName', 'Lat', 'Lon', 'Vehicle', 'VehicleType', 'SeatedCap',
       'TotalCap', 'Boards', 'Alights', 'Onboard', 'Bike', 'Wheelchair',
       'Weekday', 'Hour', 'Minute', 'Second', 'Date', 'Daytype', 'time',
       'geometry', 'dist', 'speed', 'acc', 'time_delta',
       'time_delta_in_seconds'],
      dtype='object')

In [45]:
df['VehicleType'].unique()

array(['2011 New Flyer 40ft', 'Articulated Buses - V9000',
       '2020 New Flyer', '2021 New Flyer', '2011 New Flyer - 7815',
       'Articulated Bus V9000', '2014 New Flyer', '2010 Gillig LowFloor',
       '2012 New Flyer', '2015 New Flyer', '2018 Gillig Low Floor',
       'New Flyer 2020', '2008 GILLIG LowFloor', '2008 GIllig LowFloor',
       '2006 GILLIG LowFloor', '2015 New Flyer 35ft', '2021 bus', '7551',
       '2011 NewFlyer', '2018 Gillig lowfloor', '2016 Proterra',
       '2011 New Flyer - 7811', '2020 Proterra', '7660',
       '2018 Gillig Lowfloor', 'D4 RADIO   5574', '2008 Gillig LF',
       '2021', '7661', '2011 New Flyer - 7813', '2011 New Flyer - 7814',
       '2011 New Flyer 35ft', '2008 Gillig LowFloor', '2022 New Flyer',
       '2011 New Flyer - 7802', '2010 GILLIG LowFloor',
       'Electric New Flyer', '2009 Gillig LowFloor',
       '2011 New Flyer - 7801', '7552', '7662', '2011 New Flyer - 7812',
       nan, '7610', '7550', '2011 New Flyer', '2007 Gillig LowFloor'],
      dtype=object)

In [46]:
mydict = df2.groupby('Type')['Equipment ID'].agg(list).to_dict()
print (mydict)

{'conventional': [1406, 1510, 1513, 1515, 1618, 1619, 1621, 1630, 1632, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1701, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1821, 1822, 1823, 1824, 1825, 1826, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1710, 1711, 1712, 1713, 1714, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1670, 1671, 1672, 1673, 1715, 1716, 1717, 1718, 1719, 1720, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1721, 1722, 1723, 1857, 1858, 1859, 1860, 1861, 1724, 1725, 1726, 1727, 1728, 1729, 1862, 1863, 1864, 3211, 3307, 3308, 7610, 7550, 7551, 7660, 7661, 7662, 7552, 7801, 7802, 7811, 7812, 7813, 7814, 7815, 7902, 7553, 7554, 7816, 7817], 'electric': [1413, 1414, 1415, 1416, 1320, 1321, 1322, 1323, 1420, 1421, 7700], 'hybrid': [1801, 1802, 1803, 1804, 1805, 7901]}

In [47]:
d = {val:key for key, lst in mydict.items() for val in lst}
df['Powertrain'] = df['Vehicle'].map(d)

In [48]:
df['Powertrain'].unique()

array([nan, 'hybrid', 'conventional', 'electric'], dtype=object)

In [49]:
df['Powertrain']

0                   NaN
1                hybrid
2                   NaN
3                   NaN
4                   NaN
               ...
1361544             NaN
1361545             NaN
1361546    conventional
1361547             NaN
1361548             NaN
Name: Powertrain, Length: 1361549, dtype: object

In [28]:
df.to_csv(r'../../results/trajectories-mapped-powertrain.csv')

In [30]:
### Map models

In [52]:
df2

,Operator,Model,Type,Year,Equipment ID,Fuel Orfluid Type
0,CTF (Cottage Street),2006 GILLIG 30`,conventional,2006.0,1406,DIE
1,CTF (Cottage Street),2006 GILLIG 35`,conventional,2006.0,1510,DIE
2,CTF (Cottage Street),2006 GILLIG 35`,conventional,2006.0,1513,DIE
3,CTF (Cottage Street),2006 GILLIG 35`,conventional,2006.0,1515,DIE
4,CTF (Cottage Street),2006 GILLIG 40`,conventional,2006.0,1618,DIE
...,...,...,...,...,...,...
167,NTF (VATCo),2020 NEW FLYER XD35,conventional,2020.0,7553,NaN
168,NTF (VATCo),NaN,conventional,NaN,7554,NaN
169,NTF (VATCo),2021 NEW FLYER XD40,conventional,2021.0,7816,NaN
170,NTF (VATCo),2021 NEW FLYER XE40 (ELECTRIC),electric,2021.0,7700,NaN
171,NTF (VATCo),2022 NEW FLYER XD40,conventional,2022.0,7817,NaN

In [54]:
df2['Model'].unique()

array(['2006 GILLIG 30`', '2006 GILLIG 35`', '2006 GILLIG 40`',
       '2007 GILLIG 40`', '2008 GILLIG 35`', '2008 GILLIG 40`',
       '2010 GILLIG 35`', '2010 GILLIG 40`', '2011 NEW FLYER XD35',
       '2011 NEW FLYER XD40', '2011 NEW FLYER XD40 (HYBRID)',
       '2012 NEW FLYER XD40', '2014 NEW FLYER XD40',
       '2015 NEW FLYER XD35', '2015 NEW FLYER XD40', '2018 GILLIG 40`',
       '2020 NEW FLYER XD35', '2020 NEW FLYER XD40',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)', '2021 NEW FLYER XD35',
       '2021 NEW FLYER XD40', '2021 NEW FLYER XE35 (ELECTRIC)',
       '2021 NEW FLYER XE40 (ELECTRIC)', '2022 NEW FLYER XD35',
       '2022 NEW FLYER XD40', 'UMTS GILLIG', 'UMTS NEW FLYER',
       '2009 GILLIG 40`', nan, '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'],
      dtype=object)

In [85]:
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 30`', 'Gillig 30 conventional')
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2007 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2008 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2008 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2010 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2010 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40 (HYBRID)', 'New Flyer 40 hybrid')
df2.Model=df2.Model.astype(str).str.replace('2012 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2014 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2015 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2015 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2018 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
df2.Model=df2.Model.astype(str).str.replace('2022 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2022 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('UMTS GILLIG', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('UMTS NEW FLYER', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2009 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df2.Model=df2.Model.astype(str).str.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')
#df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')

C:\Users\Mahsa\AppData\Local\Temp/ipykernel_13316/291724791.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40 (HYBRID)', 'New Flyer 40 hybrid')
C:\Users\Mahsa\AppData\Local\Temp/ipykernel_13316/291724791.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
C:\Users\Mahsa\AppData\Local\Temp/ipykernel_13316/291724791.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
C:\Users\Mahsa\AppData\Local\Temp/ipykernel_13316/291724791.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
C:\Users\Mahsa\AppData\Local\Temp/ipykernel_13316/291724791.py:29: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
C:\Users\Mahsa\AppData\Local\Temp/ipykernel_13316/291724791.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')

In [88]:
df2.Model.unique()

array(['Gillig conventional', 'Gillig 40 conventional',
       'New Flyer conventional', 'New Flyer conventional (HYBRID)',
       'New Flyer 40 conventional', 'New Flyer 35 conventional',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)',
       '2021 NEW FLYER XE35 (ELECTRIC)', '2021 NEW FLYER XE40 (ELECTRIC)',
       'nan', '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'], dtype=object)

In [108]:
mydict = df2.groupby('Model')['Equipment ID'].agg(list).to_dict()
print (mydict)

{'2013 NEW FLYER XDE60 (ARTIC) (HYBRID)': [7901], '2020 PROTERRA CATALYST BE-40 (ELECTRIC)': [1413, 1414, 1415, 1416], '2021 NEW FLYER XE35 (ELECTRIC)': [1320, 1321, 1322, 1323], '2021 NEW FLYER XE40 (ELECTRIC)': [1420, 1421, 7700], 'Gillig 40 conventional': [1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1670, 1671, 1672, 1673], 'Gillig conventional': [1406, 1510, 1513, 1515, 1618, 1619, 1621, 1630, 1632, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 3211, 7610, 7550, 7551, 7660, 7552], 'New Flyer 35 conventional': [1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 7553], 'New Flyer 40 conventional': [1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 7816, 7817], 'New Flyer conventional': [1701, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1821, 1822, 1823, 1824, 1825, 1826, 3307, 3308, 7801, 7811], 'New Flyer conventional (HYBRID)': [1801, 1802, 1803, 1804, 1805], 'nan': [7661, 7662, 7802, 7812, 7813, 7814, 7815, 7902, 7554]}

In [109]:
d = {val:key for key, lst in mydict.items() for val in lst}
df['VehicleModel'] = df['Vehicle'].map(d)

In [110]:
df['VehicleModel'].unique()

array([nan, '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'nan',
       'Gillig conventional', 'New Flyer conventional',
       'New Flyer 40 conventional', 'Gillig 40 conventional',
       'New Flyer 35 conventional',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)',
       'New Flyer conventional (HYBRID)',
       '2021 NEW FLYER XE40 (ELECTRIC)', '2021 NEW FLYER XE35 (ELECTRIC)'],
      dtype=object)

In [111]:
df.VehicleModel=df.VehicleModel.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')
df.VehicleModel=df.VehicleModel.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
df.VehicleModel=df.VehicleModel.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df.VehicleModel=df.VehicleModel.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
df.VehicleModel=df.VehicleModel.replace('New Flyer conventional (HYBRID)', 'New Flyer 60 hybrid')

In [112]:
df['VehicleModel'].unique()

array([nan, 'New Flyer 60 hybrid', 'nan', 'Gillig conventional',
       'New Flyer conventional', 'New Flyer 40 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'Proterra 40 electric', 'New Flyer 40 electric',
       'New Flyer 35 electric'], dtype=object)

In [131]:
# weughts for different models
thisdict = {
  42250: ["New Flyer 60 hybrid"],
  26440: ["Gillig conventional"],
  27180: ["New Flyer conventional"],
  26000: ["New Flyer 40 conventional"],
  27180: ["Gillig 40 conventional"],
  26900: ["New Flyer 35 conventional"],
  27370: ["Proterra 40 electric"],
  32770: ["New Flyer 40 electric"],
  26900: ["New Flyer 35 electric"],
}

In [120]:
# weughts for different models
thisdict = {
  "New Flyer 60 hybrid":42250,
  "Gillig conventional": 26440,
  "New Flyer conventional": 27180 ,
  "New Flyer 40 conventional": 26000 ,
  "Gillig 40 conventional": 27180 ,
  "New Flyer 35 conventional": 26900 ,
  "Proterra 40 electric": 27370 ,
  "New Flyer 40 electric": 32770 ,
  "New Flyer 35 electric": 26900 ,
}

In [132]:
d = {val:key for key, lst in thisdict.items() for val in lst}
df['VehiclWeight(lb)'] = df['VehicleModel'].map(d)

In [133]:
df['VehiclWeight(lb)'].unique()

array([   nan, 42250., 26440., 26000., 27180., 27370., 32770., 26900.])

In [134]:
df.to_csv(r'../../results/trajectories-mapped-powertrain-weight.csv')

In [136]:
df = pd.read_csv(r'../../results/trajectories-mapped-powertrain-weight.csv', delimiter=',', skiprows=0, low_memory=False)

In [137]:
df.head()

,Unnamed: 0,Unnamed: 0.1,ServiceDateTime,Unnamed: 0.1.1,Unnamed: 0.1.1.1,DateKey,CalendarDate,Year,Month,OpKey,...,time,geometry,dist,speed,acc,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,VehiclWeight(lb)
0,0,1062086,2022-04-01 00:00:00,1062086,46929,8760,2022-04-01 00:00:00.000,2022,4,3,...,00:00:00,POINT (-72.52066 42.35495),0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1,1346943,2022-04-01 00:00:08,1346943,2437,8760,2022-04-01 00:00:00.000,2022,4,1,...,00:00:08,POINT (-72.596076 42.342024),0.0,0.0,0.0,NaN,NaN,hybrid,New Flyer 60 hybrid,42250.0
2,2,1174966,2022-04-01 00:00:12,1174966,46955,8760,2022-04-01 00:00:00.000,2022,4,3,...,00:00:12,POINT (-72.53207 42.32619),0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,3,1213526,2022-04-01 00:00:18,1213526,48367,8760,2022-04-01 00:00:00.000,2022,4,3,...,00:00:18,POINT (-72.4762 42.35348),0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,4,1213527,2022-04-01 00:00:18,1213527,50425,8760,2022-04-01 00:00:00.000,2022,4,3,...,00:00:18,POINT (-72.4762 42.35348),0.0,0.0,0.0,0 days 00:00:00,0.0,NaN,NaN,NaN

In [140]:
df.count()

Unnamed: 0               1361549
Unnamed: 0.1             1361549
ServiceDateTime          1361549
Unnamed: 0.1.1           1361549
Unnamed: 0.1.1.1         1361549
DateKey                  1361549
CalendarDate             1361549
Year                     1361549
Month                    1361549
OpKey                    1361549
Operator                 1361549
RtKey                    1361549
RtKey2                   1361549
Route                    1361549
RouteName                1352172
TripKey                  1361549
Trip                     1361549
StopKey                  1361549
Stop                     1361549
StopName                 1361549
Lat                      1357366
Lon                      1357366
Vehicle                  1361549
VehicleType              1334766
SeatedCap                1348537
TotalCap                 1348537
Boards                   1361549
Alights                  1361549
Onboard                  1361549
Bike                     1361549
Wheelchair               1361549
Weekday                  1361549
Hour                     1361549
Minute                   1361549
Second                   1361549
Date                     1361549
Daytype                  1361549
time                     1361549
geometry                 1361549
dist                     1353490
speed                    1353493
acc                      1350302
time_delta               1358460
time_delta_in_seconds    1358460
Powertrain               1127248
VehicleModel             1080201
VehiclWeight(lb)          718367
dtype: int64